body{
    max-width: 1500px;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{
    background-color: rgba(70, 69, 71, 1);
    display: flex;
    flex-direction: column;
    text-align:center;
    font-family:Source Sans Pro;
    clear: both;
}

ul{
display: flex;
flex-direction: row;
justify-content:space-evenly;
list-style-type: none;
}

li{
}

li a {
    color: aliceblue;
    text-align: center;
    text-decoration: none;

}



