.navbar{
    font-family: Source Sans Pro;
}
.headwr{
    font-family: 'Oswald';
}
.childwr{
    font-family: Source Sans Pro;
}
.headwr2{
    font-family: 'Oswald';
}
.childwr2{
    font-family: Source Sans Pro;
}
.childwr3{
    font-family: Source Sans Pro;
}
.flexone{
    width: 91px;
}

.flexone{
    display: flex;
    flex: 1 0 250px;
}

.flextwo{   
    display: flex;
    flex: 1 0 150px;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    max-height: 100%;
}

.secline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.thirdline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-image: url(./assests/1677610735163.jpg);
}

.image{
    background-image: url(./assests/Desktop_Backgrounds_1920x1200_6\ 3.png) ;
    background-repeat: no-repeat;
    background-size:cover;
}

.btn1{
    background-color:rgba(85, 194, 216, 1);
    border-radius: 42%;
    border-color:rgba(85, 194, 216, 1);
    width: 115px;
    height: 30px;
}

.btn2{
    background-color: rgba(85, 194, 216, 1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}
